$mediaquery-xlg: "(max-width: 1450px)";
$mediaquery-lg: "(max-width: 1200px)";
$mediaquery-m: "(max-width: 992px)";
$mediaquery-xm: "(max-width: 768px)";
$mediaquery-small: "(max-width: 992px)";
$mediaquery-xsmall: "(max-width: 768px)";
$mediaquery-mobile: "(max-width: 576px)";